* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url(mainpagebg\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
li{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
    /* border: 2px solid yellow; */
    font-family: 'Caveat', cursive;
    color:RGB(226, 90, 184);
    font-size: 35px;
    text-shadow:0 5px 2px rgba(0, 0, 0, 0.9);
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: RGB(226, 90, 184);
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: RGB(226, 90, 184);
    transform-origin: bottom right;
    transition: transform 0.45s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }